	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+92-341-2236418<br>
								<a href="mailto:#">pkbscs67@gmail.com</a><br>
								<br>
								306 New town Jail Road, Karachi City, Bl-A 
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow us</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Avoid long-term parking</h3>
						<div class="widget-body">
							<p>
                                 Thieves know the owners aren’t likely to come back soon and long-term lots are often poorly policed.
                                 Get someone to give you a ride or take a taxi to the airport. If you do park in long-term, 
                                 you can take some simple steps to disable your car such as disconnecting a battery cable,
                                or disconnecting the distributor cap. Thieves often won’t try to figure out what’s wrong with the car
                                , they’ll just move on. It takes too much time and is obvious if they go poking around under the hood.</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-left">
								Copyright &copy; 2016, Parkash Kumar. Designed by <a href="https://pk067.herokuapp.com/" rel="designer">pk</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	