<div class="navbar navbar-inverse navbar-fixed-top " >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="smoothscroll" href="#home"><img src="images/car.ico" class="icon"/><span class="SecuritySystem">Security <span class='s'>S</span>ystem</span></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="#home" class="smoothscroll font">HOME</a></li>
					<li><a href="#services" class="smoothscroll font">SERVICES</a></li>
					<li><a href="#aboutus" class="smoothscroll font">ABOUT</a></li>
					<li><a href="#" class="initialism slide_open font" onclick="ajaxCall()" >Logs</a></li>
					<li><a class="initialism standalone_open font" >REGISTRATION</a></li>
                    <li><a href='/enteries' class="initialism fade_open font" id="wellfade" >ENTERIES</a></li>
                    <li><a href='/cam' class=" font"  >LIVE</a></li>
                    <li><a class="font-horn" ><i class="glyphicon glyphicon-bell" data-toggle="tooltip" data-placement="bottom" title="Unregistered Entries"></i><span class="badge" id="count"></span></a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 